extends layout

block content
    h1= title
    p #{title}
    div(class="availablePics").
        pics
    div
        button(class="btn", data-action="bea", onClick="MakeNoise();").
            Make Noise
    div
        button(class="btn", data-action="bea", onClick="StartSensing();").
            Turn on detector
    div
        button(class="btn", data-action="bea", onClick="StopNoise();").
            Stop Noise
    div
        button(class="btn", data-action="bea", onClick="StopAll();").
            Stop All
